body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
}

/* layout */
.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #121212;
  padding: 20px;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 20px;
}

/* playlist */
.playlist {
  display: flex;
  gap: 20px;
}

.card {
  width: 150px;
  background: #181818;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  background: #282828;
  transform: scale(1.05);
}

/* lyrics */
.lyrics {
  margin-top: 30px;
  height: 150px;
  overflow: hidden;
}

.lyrics p {
  opacity: 0.4;
  transition: 0.3s;
}

.lyrics .active {
  opacity: 1;
  color: #1db954;
}

/* player */
.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info img {
  width: 50px;
  border-radius: 5px;
}

.controls button {
  background: #1db954;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* progress */
.progress-container {
  flex: 1;
  height: 5px;
  background: #333;
  cursor: pointer;
  border-radius: 10px;
}

.progress {
  height: 5px;
  width: 0%;
  background: #1db954;
}
